---
import EasterEgg from "@/components/EasterEgg";
import Layout from "@/layouts/Layout.astro";
---

<Layout>
	<EasterEgg client:idle slot="header" />

	<Fragment slot="content">
		<h1 class="text-4xl">Paska Ovo</h1>
	</Fragment>
</Layout>
