---
import Badge from "@/components/Badge";
import EasterEgg from "@/components/EasterEgg";
import Layout from "@/layouts/Layout.astro";
import { IconBrandGithub } from "@tabler/icons-preact";
---

<Layout>
	<div
		class="w-screen h-screen bg-red-300 flex flex-col justify-center items-center relative gap-2"
	>
		<EasterEgg client:idle />
		<div class="text-center">
			<p class="font-mono text-xl max-w-xl">
				<strong
					>A simple javascript library for adding easter eggs to web
					pages. Try to find the easter egg!
				</strong>
			</p>
		</div>
		<div>
			<Badge text="Github" url="https://github.com/EGAMAGZ/paska-ovo">
				<IconBrandGithub size={24} color="black" />
			</Badge>
		</div>
	</div>
</Layout>
