<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Paska Ovo</title>
    </head>
    <body>
        <main class="container mx-auto px-4 lg:px-0 py-2">
            <slot />
        </main>
    </body>
</html>
